/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Archivos de soluciones de Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de usuario de Unity
/[Aa]ssets/AssetStoreTools*

# Crash reports
sysinfo.txt

# Builds de WebGL
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/[Ss]treamingAssets/UnityServicesConfig.json

# Builds de Android
*.apk
*.aab
*.unitypackage